.DS_Store
xcuserdata/
ThrowPractice.xcworkspace/xcshareddata
ThrowPractice/Pods/Pods.xcodeproj/xcuserdata/
ThrowPractice.xcodeproj/project.xcworkspace/xcuserdata/
ThrowPractice.xcodeproj/xcuserdata/
ThrowPractice.xcworkspace/xcuserdata/yu_ookubo.xcuserdatad/
ThrowPractice/Pods/Pods.xcodeproj/project.xcworkspace/
